/* /* adattamenti schermo*/

@media screen and (max-width: 1620px){

    .pulsante-upgrade{
        padding: 1% 1% 1% 1%;
        margin: 1.3%;
    }

    .voce-menu{
        font-size: small;
    }

    .playlist{
        font-size: medium;
    }
    
    .nome-playlist{
        font-size: small;
    }

    .aggiungi{
        padding: 0.9% 6%;
    }

    .white-hover{
        font-size: small;
    }

    .canzone{
        width: 20%;
    }

    .bottom-center{
        width: 40%;
    }

    .barra-musica{
        width: 90%;
    }

    .categorie{
        margin-top: 10%;
    }

    .img-canzone{
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 1268px){

    .pulsante-upgrade{
        padding: 1% 1% 1% 1%;
        margin: 1.3%;
    }

    .sidebar{
        width: 14%;
    }
    
    .logo{
        width: 100%;
    }

    .aggiungi{
        font-size: x-large;
    }

    .titolo-didascalia{
        font-size: large;
    }

    .bottom-center{
        width: 40%;
    }

    .barra-musica{
        width: 90%;
    }

    .img-canzone{
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 1219px){

    .pulsante-upgrade{
        padding: 1% 1% 1% 1%;
        margin: 1.3%;
    }

    .titolo-didascalia{
        font-size: medium;
    }

    .pulsanti-musica{
        width: 45%;
    }

    .canzone{
        width: 20%;
    }

    .bottom-right{
        width: 17%;
    }

    .bottom-center{
        width: 40%;
    }

    .barra-musica{
        width: 90%;
    }

    .img-canzone{
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 1129px){
    .sidebar{
        width: 16%;
    }

    .categorie{
        width: 85%;
        margin-top: 13%;
    }

    .pulsante-upgrade{
        padding: 1% 1% 1% 1%;
        margin: 1.3%;
    }

    .img-canzone{
        width: 50px;
        height: 50px;
        
    }
}

@media screen and (max-width: 930px){
    .sidebar{
        width: 17%;
    }

    .categorie{
        width: 90%;
        margin-top: 14%;
    }

    .titolo-didascalia{
        font-size: small;
    }

    .artista{
        font-size: smaller;
    }

    .nome-foto{
        width: 80%;
    }


}

@media screen and (max-width: 882px){
    .sidebar{
        width: 20%;
    }

    .categorie{
        flex-wrap: wrap;
        width: calc(100/4);
        margin-top: 14%;
    }

    .titolo-didascalia{
        font-size: small;
    }

    .artista-2{
        font-size: smaller;
    }

    .canzone{
        width: 25%;
    }

    .bottom-right{
        width: 20%;
    }

}

@media screen and (max-width: 768px){

    .sidebar{
        width: 7%;
        text-align: center;
    }

    .fav-fold{
        display: none; 
    }

    .voce-menu{
        display: none;
    }
    .logo{
        display: none;
    }

    .playlist-zone{
        display: none;
    }

    .utente{
        display: none;
    }

    .logo-small{
        display: inline-block;
        width: 110%;
        margin-bottom: 40%;
    }

    .sidebar{
        padding: 2% 2%;
    }

    .contenitore-brani-recenti{
        width: calc(100/4);
        flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
    }

    .copertina{
        width: 23%;
    }

    .titolo-didascalia{
        font-size: small;
    }
    
    .artista-2{
        font-size: xx-small;
    }


    .bottom-center{
        width: 50%;
    }

    .contenitore-bottom{
        height: 13vh;
        padding-bottom: 5%;
    }


}

@media screen and (max-width: 642px){
    .categorie.div{
        width: calc(100%/5);
        flex-wrap: wrap;
    }

    .categorie{
        margin-top: 15%;
    }

    .bottom-right{
        width: 30%;
    }
    
    .pulsanti-musica{
        width: 70%;
    }

    .contenitore-brani-recenti .div{
        flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
    }

    .copertina{
        width: 30%;
    }

    .sidebar{
        width: 7.5%;
    }

    .logo-small{
        width: 100%;
    }

    .canzone{
        width: 35%;
    }

    .icon-none{
        display: none;
    }
}

@media screen and (max-width: 548px){
    .sidebar{
        width: 8%;
    }
}

@media screen and (max-width: 428px){
    .sidebar{
        width: 9.5%;
    }

    .pulsanti-musica{
        padding-top: 10%;
    }

    .titolo-didascalia{
        font-size: xx-small;
    }
    
    .copertina{
        width: 45%;
    }

    .canzone{
        width: 36%;
    }

    .titolo-canzone{
        font-size: small;
    }

    .nome-foto{
        margin-left: 5%;
    }

    .bottom-right{
        width: 33%;
    }

    .volume-slide{
        width: 68%;
    }
}

@media screen and (max-width: 428px){
    .sidebar{
        width: 11%;
    }
}

@media screen and (max-width: 375px){
    .pulsanti-musica{
        width: 80%;
    }
}